<% if memo.errors.any? %>
  <div id="error_explanation d-flex flex-column align-items-center">
    <ul style="margin: 0;">
      <% memo.errors.full_messages.each do |message| %>
        <%= content_tag :li, "error : #{message} !", style: "width: 300px; line-height: 19px; color: red; list-style: none; font-size: 20px" %>
      <% end %>
    </ul>
  </div>
<% end %>